
  <div class="container"><div class="jumbotron"> <h2 align="center">Add Products here... </h2> 
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
      
      <label for="text">ID : </label>
      
      <input type="text" class="form-control"  formControlName="id"
      id="id" />
      
      <div *ngIf="submitted && addForm.controls.id.errors" class="error">       
      <div class="text-danger" *ngIf="addForm.controls.id.errors.required">
      
      ID is required ..
      
      </div>
      
      </div>
      <label for="name"> Name : </label>
      <input type="text" class="form-control" formControlName="name"
      id="name" />
      
      <div *ngIf="submitted && addForm.controls.name.errors" class="error">
      
      <div class="text-danger" *ngIf="addForm.controls.name.errors.required">
      
      Name is required ..
      
      </div>
      
      </div>
      <label for="description"> Description : </label>
      <input type="text" class="form-control" formControlName="description"
      id="description" />
      
      <div *ngIf="submitted && addForm.controls.description.errors" class="error">
      
      <div class="text-danger" *ngIf="addForm.controls.description.errors.required">
      
      Description is required ..
      
      </div>
      
      </div>

      <label for="price"> Price : </label>
      <input type="text" class="form-control" formControlName="price"
      id="price" />
      
      <div *ngIf="submitted && addForm.controls.price.errors" class="error">
      
      <div class="text-danger" *ngIf="addForm.controls.price.errors.required">
      
      Price is required ..
      
      </div>
      
      </div>
      
      </div>
      
      <button class="btn btn-success">Add</button> &nbsp;&nbsp;&nbsp;
      
      <button class="btn btn-danger" type="reset">Reset</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-warning"[routerLink]="['/list-user']" >Go to List</button> 
      </form>
    </div>
    </div>