<div class="well">
  <h1 class="page-header" align="center">Welcome to Product Application...!</h1>   
  <h1 align="center">Product List...!</h1> 
  
<br/><br/>
<table class="table table-striped table-bordered table-responsive table-hover">
  <thead>
    <tr >
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Action</th>
    </tr>
  </thead>
  <tbody>   
            <tr *ngFor='let user of users | paginate: config'> 
      
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.description}}</td>
      <td>{{user.price}}</td>
      <td>
        <button class="btn btn-danger"(click)="deleteUser(user)"> Delete</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success"(click) = "editUser(user)"> Edit </button>
      </td>
    </tr>
    
    <tr *ngIf="!users || users.length==0">
    <th colspan="5">
      <p class="text-right text-warning">Sorry, No Product available...!
        </p>
    </th>
  </tr>
  </tbody>
  
</table>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination pagination pagination-lg"></pagination-controls>

<div class="wrapper">
<button class="btn btn-primary" (click)="addUser()">Add Products</button>&nbsp;&nbsp;&nbsp;
</div>

</div>


